<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/librairies/fontawesome/css/all.min.css">
<script src="/librairies/fontawesome/js/all.min.js"></script>
<link rel="stylesheet" href="/librairies/bootstrap/css/bootstrap.min.css">
<script src="/librairies/bootstrap/js/bootstrap.min.js"></script>
<script src="/librairies/jquery/jquery.min.js"></script>
<script src="/librairies/phaser/phaser.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/vars.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/main.js"></script>
<title><%= title %></title>