<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('head', {title: "Accueil - Editor test"}) %>
</head>
    <body>
        <div id="stageContainer">
            <div class="gameStage"></div>
        </div>
    </body>
</html>
